{% extends 'base.html' %}
{% load static %}
{% load myfilters %}

{% block content %}
{% if request.session.carrinho %}

<div class="row mt-3">
    <div class="col">
        <h3>Carrinho de compras</h3>
        <p class="lead">Os produtos, quantidades e preços que você escolheu.</p>

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th class="d-none d-lg-block">Imagem</th>
                    <th>Produto</th>
                    <th>V.</th>
                    <th>QTD.</th>
                    <th>Total</th>
                </tr>

                {% for item in request.session.carrinho.values %}
                <tr>
                    <td class="d-none d-lg-block">
                        <img class="cart-img" src="{% get_media_prefix %}{{item.image}}">
                    </td>
                    <td>
                        {{item.product_name}}
                        <a class="ml-3" href="{% url 'product:remove_to_cart' %}?vid={{item.variation_id }}">
                            <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>{{item.variation_name}}</td>
                    <td>
                        {{item.quantity}} x
                        {% if item.promotional_unit_price %}
                            {{item.promotional_unit_price|format_money}}
                        {% else %}
                            {{item.unit_price|format_money}}
                        {% endif %}
                    
                    </td>
                    {% if item.promotional_quantitative_price %}
                        <td>R$ {{item.promotional_quantitative_price|format_money}}</td>
                    {% else %}
                        <td>R$ {{item.quantitative_price|format_money}}</td>
                    {% endif %}
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>



<div class="row mt-3">
    <div class="col-lg">
        <p class='lead'>Total no carrinho</p>

        <div class='table-responsive'>
            <table class="table">
                <tr>
                    <td class="font-weight-bold">Total</td>
                    <td>R$100000</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg mt-auto">
        <a class="btn btn-lg btn-block btn-primary" href="#">
            Finalizar a compra
        </a>
    </div>
</div>

{% else %}
    <p>O seu carrinho está vazio.</p>
{% endif %}
{% endblock content %}
